nav {
    background-color: black;
    width: 100%;
    position:sticky;
    top: 0;
	z-index: 1;
}

.container-nav{
 
    top: 0;
    left: 0;
    height: 10px;
    position: sticky;
}

.menu>li {
    float: left;
    width: 25%;
    text-align: center;
}

li ul {
    display: none;
}
li:hover ul{
    display:block;
}
nav a {
    color: white;
    text-decoration: none;
    background-color: black;
    display: block;
    padding: 2px 10px;
    transition: ease-in-out .5s;
}

nav a:hover {
    background-color: rgb(55, 1, 77);
    transition: ease-in-out .5s;

}

nav ul {
    list-style: none;
	position: sticky;
}

* {
    margin: 0;
    padding: 0;
    z-index: 0;
}
main{
    position: relative;
    top: 30px;
    width: 80%;
    left: 10%;
    right: 10%;
	background-color: rgba(0, 0, 0, 0.897);
	height: 1300px;
}
footer{
	width: 100%;
	background-color: black;
	position: initial;
	left: 0;
	bottom: 0;
	text-align: center;
	color: white;
	height: 80px;
}
aside{
    position: fixed;
    background-color: black;
    width: 50%;
    height: 110px;
    color: white;
    border-radius: 2%;
    top:30px;
	left: 25%;
    transition: ease-in-out .5s;
    box-shadow: 10px 10px 10px gray;
    animation: bannerEnter 1s alternate;
	border-style: double;
    border-color: white;
    border-width: 5px;
	z-index: 1;
}

aside>a{
	position: absolute;
    margin-top: 30px;
    font-size: large;
    border: white double 3px;
    border-radius: 10%;
	left: 60%;
    padding: 10px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    animation: registrarAumentar 5s infinite alternate;
	text-align: center;
}
aside:hover{
    transition: ease-in-out .5s;
    scale: 110%;
}

@keyframes registrarAumentar {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}
@keyframes bannerEnter {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
aside>img{
    width: 140px;
    margin-left: 20%;

}

footer>a>img{
	margin-top: 15px;
	width: 40px;
	filter: invert();
}
h1{
	text-align: center;
	top: 120px;
	color: white;
}
.texto{
	z-index: 0;
	margin-top: 10px;
	perspective: 500px;
	width: 25%;
	animation: entradaIzquierda 4s ease 0s 1 normal forwards;
	
}
.texto>p{
	padding: 20px;
	background-color: black;
	border: 2px white double;
	margin-left: 60px;
	transform: rotateX(0deg) rotateY(18deg);
	transform-style: preserve-3d;
	color: white;
	text-align: justify;
	font-size: 20px;
}
.texto:nth-child(2n){
	margin-left: 70%;
	animation: entradaDerecha 4s ease 0s 1 normal forwards;
}

.texto:nth-child(2n)>p{
	transform: rotateX(0deg) rotateY(-18deg);
	transform-style: preserve-3d;
	color: white;
	text-align: justify;
}
h3{
	color: white;
	background-color: black;
	border: 1px white double;
	width: 40%;
	margin-left: 30%;
	text-align: center;
	white-space: pre-line;
	line-height: 3;
}

@keyframes entradaDerecha {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes entradaIzquierda {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}