nav {
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
}
.container-nav{
 
    top: 0;
    left: 0;
    height: 10px;
    position: absolute;
}

.menu>li {
    float: left;
    width: 25%;
    text-align: center;
}

li ul {
    display: none;
}
li:hover ul{
    display:block;
}
nav a {
    color: white;
    text-decoration: none;
    background-color: black;
    display: block;
    padding: 2px 10px;
    transition: ease-in-out .5s;
}

nav a:hover {
    background-color: rgb(55, 1, 77);
    transition: ease-in-out .5s;

}

nav ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    z-index: 1;
}
main{
    position: relative;
    top: 150px;
    float: left;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 600px;
    border-radius: 2%;
    background-color: black;
    color: white;
    z-index: 0;
    box-shadow: 10px 10px 10px gray;
    animation: entrance 0.5s ease 0s 1 normal forwards;
    border-style: double;
    border-color: white;
    border-width: 5px;
}
#inputs{
    text-align: center;
    padding: 20px;
}
.inputs{
    padding: 20px;
}
.inputs label{
    padding-right: 10px;
    padding-left: 10px;
}
#enviar{
    margin-top: 5px;
    height: 100px;
    width: 20%;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 3%;
    border-color: white;
}
@keyframes entrance {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

