/*Hoja de estilo de la navegacion*/
nav{
    background-color: black;
    width: 100%;
}
nav a {
    color: white;
    text-decoration: none;
    background-color: #8407a348;
    display: block;
}
nav ul{
    list-style:none;
}
* {
    margin: 0;
    padding: 0;
}

